{% extends "base.html" %}

{% block content %}
<h1 class="pl-4">{{header}}</h1>

<div class="container-fluid">
  <div class="project">
    {% for project in project_list %}
    <div class="card" style="width: 18rem; margin-right: 20px;">
      <!--  <img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
        <a href="{{project.link}}" class="btn btn-primary">See Project</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}