.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    /*padding: 1rem;*/
    width: 100%;
    text-align: center;
}

.box {
    box-sizing: content-box;
}

.center_flex {
    display: flex;
    justify-content: center;
}

.dji {
    fill: none;
    stroke: darkblue;
}

.dji_predict {
    fill: none;
    stroke: skyblue;
}