.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    /*padding: 1rem;*/
    width: 100%;
    text-align: center;
}

.box {
    box-sizing: content-box;
}

.center_flex {
    display: flex;
    justify-content: center;
}

.dji {
    fill: none;
    stroke: darkblue;
}

.dji_predict {
    fill: none;
    stroke: skyblue;
}

input[type="submit"] {
    padding: 10px 13px;
    width: inherit;
    background: #5eb9d7;
    color: white;
    border-radius: 2px;
    font-weight: 400;
    border: 1px solid #5eb9d7;
    transition: all .3s ease-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: white;
    color: #5eb9d7;
}